<h1>Login</h1>
<form class='login-form'>
  <label for='username'>Username</label><br />
  <input type='text' name='username' id='loginUsername' /><br />
  <label for='password'>Password</label><br />
  <input type='password' name='password' id='loginPassword' /><br />
  <button class='btn' type='submit'>Submit</button>
</form>
<p>Don't have an account yet? Sign Up Below!</p>

<h1>Signup</h1>
<form class='signup-form'>
  <label for='username'>Username</label><br />
  <input type='text' name='username' id='signupUsername' /><br />
  <label for='password'>Password</label><br />
  <input type='password' name='password' id='signupPassword' /><br />
  <label for='confirm-password'>Confirm Password</label><br />
  <input type='password' name='confirm-password' id='confirm-password' /><br />
  <button class='btn' type='submit'>Submit</button>
</form>
<p>Already have an account? <a href='/login'>Login Here</a></p>
<script src='/js/login-signup.js'></script>