
    <div class="row1">
        <div class="col s12 m6">
          <div class="card blue-white darken-1">
            <div class="card-content black-text">
              <span class="card-title">TOP 30 PERFORMING CRYPTOCURRENCIES</span>
          </div>
        </div>
      </div>

    
<div class="grid-container">
  {{#each coins}}
  <h2>{{name}}</h2>
  <p>{{quote.USD.price}}</p>
  <p>{{market_cap}}</p>
  <p>{{circulating_supply}}</p>
{{/each}}

</div>
      <div class="center">
        <div class="btn-1">
          <a href=""><span>Home</span></a>
        </div>
    <!--JavaScript at end of body for optimized loading-->
    
  </body>
</html>
