<div class="row1">
  <div class="col s12 m6">
    <div class="card blue-white darken-1">
      <div class="card-content black-text">
        <span class="card-title">TOP 30 PERFORMING CRYPTOCURRENCIES</span>
      </div>
    </div>
  </div>

  <style>
    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: 100px 400px;
      gap: 10px;
      background-color: #090d29;
      padding: 10px;
      color: black;
    }

    .grid-container>div {
      background-color: rgb(255, 255, 255);
      text-align: center;
      padding: 20px 0;
      font-size: 30px;
    }
  </style>
  <div class="grid-container">

    {{#each coins}}
    <h2>{{name}}</h2>
    <p>{{quote.USD.price}}</p>
    <p>{{market_cap}}</p>
    <p>{{circulating_supply}}</p>
    {{/each}}
  </div>

  <div class="center">
    <a class='btn' href='/'>Home</a>
  </div>