<div class="row1">
  <div class="col s12 m6">
    <div class="card blue-white darken-1">
      <div class="card-content black-text">
        <span class="card-title">TOP 30 PERFORMING CRYPTOCURRENCIES</span>
      </div>
    </div>
  </div>
</div>
<div class="container5  postBox" id="existingPosts"></div>
<div class="row center box  blah">
  <div class="col s12 indBox2">
    <div class="card-content black-text">

      <div class="grid-container2">
        {{#each coins}}
        <h2 class="titles">{{name}}</h2>
        <p>{{quote.USD.price}}</p>
        <p>{{market_cap}}</p>
        <p>{{circulating_supply}}</p>
        {{/each}}
      </div>
    </div>
  </div>

</div>
<div class="center">
  <a class='btn' href='/'>Return to home</a>
</div>
