#grad {
  background: rgb(26, 49, 95);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(26, 49, 95, 1)), color-stop(10%, rgba(26, 49, 95, 1)), color-stop(24%, rgba(29, 108, 141, 1)), color-stop(37%, rgba(41, 136, 151, 1)), color-stop(77%, rgba(39, 45, 100, 1)), color-stop(90%, rgba(26, 49, 95, 1)), color-stop(100%, rgba(26, 49, 95, 1)));
  margin-bottom: 10px;
  }

canvas {
  width: 10%;
  height: 100%;
}
.flex-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

h1 {
  color: white;
}

.container1 {
  margin-top: 30px;
  border-radius: 25px;
  width: 600px;
}

.container2 {
  width: 300px;
  padding-left: 60px;
  
}

#ethereumCard, #bitcoinCard, #dogecoinCard{
    width: 430px;
}

#logo {
    width: 315px;
}

.card-title{
  color: #090d29;

}

.card-action{
   color: #090d29;
}
.nav-wrapper {
    background-color: #090d29 !important;
  }

  .inputbg {
    background-color:rgb(255, 255, 255);
}  

.boxwidth{
  max-width: 50%;
}

.bold{
  font-weight: 800;
color:#090d29 ;
}
